:root {
    --primario: #D90429;
    --secundario: #ECECEC;
    --terciario: #8D99AE;
    --dark-blue: #2B2D42;
    --white: #fff;
    --black: #232323;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.calculadora_container{
    margin: 0 auto;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 8px;
    gap: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

select{
    display: flex;
    background-color: var(--secundario);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6px auto 0;
    padding: 3px 8px;
    min-width: 160px;
    height: 36px;
    outline: none;
    border-radius: 1em;
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
    transition: 0.3s ease all;
    border: none;
    cursor: pointer;
    appearance: none;
}

select:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid var(--black);
    background-color: var(--white);
}

option{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.check-conten{
    display: flex;
    width: 180px;
    min-width: 160px;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundario);
    padding: 3px 16px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease all;
}

.check-conten:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid var(--black);
    background-color: var(--white);
}

.check{
    cursor: pointer;
    width: 30xp;
    height: 30px;
}

.containerMedidas{
    display: flex;
    gap: 16px;
}

.container_price{
    margin-top: 16px;
}

@media (max-width: 450px) {
    .containerMedidas{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}