:root{
  --primario: #D90429;
  --secundario: #ECECEC;
  --terciario: #8D99AE;
  --dark-blue: #2B2D42;
  --white: #fff;
  --black: #232323;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

.nav{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_hamburger{
  width: 30px;
  height: 50%;
  background-image: url('../assets/icon/menu-amburguesa.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: #000;

  z-index: 100;
  transition: background-image .3s;
}

.nav_hamburger--open{
  background-image: url('../assets/icon/menu-amburguesa--close.svg');
}

.nav_overlay{
  background-color: #000000a7;
  position: fixed;
  inset: 0;

  opacity: 0;
  pointer-events: none;
  transition: .3s opacity;
}

.nav_overlay--show{
  opacity: 1;
  pointer-events: unset;
}

.nav_menu{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  width: 65%;
  max-width: 400px;
  list-style: none;
  overflow: auto;
  padding: 70px 0;
}

.nav_item{
  width: 80%;
  /* background-color: var(--black); */
  margin: 0 auto;
  color: var(--black);
  cursor: pointer;
  padding: 16px 0;
}

.nav_link{
  text-decoration: none;
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
}

.nav_link:hover{
  text-decoration: underline;
  color: var(--dark-blue);
}

/* Main */

.main_grid{
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_picture{
  width: 100%;
}

.main_img{
  width: 100%;
}

.main_article{
  padding: 50px 16px;
}

.main_text{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.main_button{
  background-color: var(--primario);
  width: 180px;
  height: 60px;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.main_button:hover{
  -webkit-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  -moz-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
}

.button_link{
  color: var(--white);
  font-size: 22px;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.main_flex--medallas{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.medalla{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 0;
}

.medalla_img{
  width: 80px;
  padding-bottom: 8px;
}

.medalla_text{
  font-size: 16px;
  color: var(--black);
  font-weight: 600;
}

/* Nuestros servicios */

.container_servicios{
  width: 100%;
}

.title_servicios{
  text-align: center;
  font-size: 32px;
  color: var(--primario);
  padding: 50px 0;
}

.grid_servicios{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.serv{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.picture_servicios{
  width: 100%;
}

.picture_img{
  width: 100%;
}

.container_text_refraccion{
  padding: 0 16px;
}

.serv_h2{
  color: var(--black);
  font-size: 24px;
  padding-bottom: 16px;
}

.serv_p{
  font-size: 16px;
  color: var(--black);
  line-height: 20px;
}

/* Contacto */

.container_contact{
  width: 100%;
  padding: 50px 0;
}

.title_contacto{
  text-align: center;
  font-size: 32px;
  color: var(--black);
  padding-bottom: 50px;
}

.form_contacto{
  width: 100%;
  max-width: 720px;
  min-width: 328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form_contacto label{
  color: var(--black);
  font-size: 16px;
  padding: 8px 16px;
}

.input{
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  height: 40px;
  background-color: var(--secundario);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
}

.input::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:focus-visible{
  outline: none;
}

.input:focus{
  /* outline: solid var(--primario) 2px; */
  -webkit-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  -moz-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  background-color: var(--white);
}

.input_messege{
  background-color: var(--secundario);
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  height: 200px;
  border: none;
  border-radius: 8px;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: 500;
  resize: none;
}

.input_messege:focus-visible{
  outline: none;
}

.input_messege:focus{
  -webkit-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  -moz-box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  box-shadow: 0px 3px 30px -16px rgba(35,35,35,1);
  background-color: var(--white);
}

.input_messege::-webkit-scrollbar{
  width: 0;
}

.bt_contacto{
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin: 32px auto;
}

/* footer */

.footer{
  width: 100%;
  background-color: var(--primario);
  padding: 32px 20px;
}

.footer_container{
  display: flex;
  flex-direction: column;
}

.footer_left{
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 16px;
  padding-bottom: 16px;
}

.footer_left h3{
  color: var(--white);
  font-size: 40px;
  padding: 24px 0;
}

.footer_left a{
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.footer_left a:hover{
  text-decoration: underline;
}

.footer_left p{
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}

.footer_right{
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 16px;
}

.footer_right h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  padding: 24px 0;
}

.informacion, .tiendas, .contacto, .contacto_footer, .soporte_footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_right a{
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}

.footer_right a:hover{
  text-decoration: underline;
}

.footer_right p{
  font-weight: 300;
}

.contacto_footer p{
  font-size: 16px;
  font-weight: 500;
}

.soporte_footer p{
  font-size: 16px;
  font-weight: 500;
}