:root{
  --primario: #D90429;
  --secundario: #EADFD8;
  --terciario: #8D99AE;
  --dark-blue: #2B2D42;
  --white: #fff;
  --black: #232323;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

.nav{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_hamburger{
  width: 30px;
  height: 50%;
  background-image: url('../assets/icon/menu-amburguesa.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: #000;

  z-index: 100;
  transition: background-image .3s;
}

.nav_hamburger--open{
  background-image: url('../assets/icon/menu-amburguesa--close.svg');
}

.nav_overlay{
  background-color: #000000a7;
  position: fixed;
  inset: 0;

  opacity: 0;
  pointer-events: none;
  transition: .3s opacity;
}

.nav_overlay--show{
  opacity: 1;
  pointer-events: unset;
}

.nav_menu{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  width: 65%;
  max-width: 400px;
  list-style: none;
  overflow: auto;
  padding: 70px 0;
}

.nav_item{
  width: 80%;
  /* background-color: var(--black); */
  margin: 0 auto;
  color: var(--black);
  cursor: pointer;
  padding: 16px 0;
}

.nav_link{
  text-decoration: none;
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
}

.nav_link:hover{
  text-decoration: underline;
}

/* Main */

.main_grid{
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_picture{
  width: 100%;
}

.main_img{
  width: 100%;
}

.main_article{
  padding: 50px 16px;
}

.main_text{
  font-size: 16px;
  line-height: 22px;
}

.main_button{
  background-color: var(--primario);
  width: 180px;
  height: 60px;
  border-radius: 1em;
  border: none;
}

.main_button:hover{
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
}

.button_link{
  color: var(--white);
  font-size: 22px;
  text-decoration: none;
}